# Analyze Matches

In [1]:
import pandas as pd
from person_matching_functions import *

## Filter 1790 Census & Baptisms Matches

In [2]:
matches_1790 = pd.read_pickle('matches/1790_census_matches.pkl')

In [3]:
matches_1790.head()

,ecpp_id,#ID,Census_First,Census_Last,Census_Gender,Census_Age,Baptisms_SpanishName,Baptisms_Surname,Baptisms_MSpanishName,Baptisms_MSurname,...,Last_Name_Match_Score,Mother_First_Name_Match_Score,Mother_Last_Name_Match_Score,Father_First_Name_Match_Score,Father_Last_Name_Match_Score,Gender_Match_Score,Age_Match_Score,Direct_Total_Match_Score,Mother_Total_Match_Score,Father_Total_Match_Score
0,1,1,José,"Zúñiga, de",m,34.0,Juan Joseph,Salazar,Maria del Loreto,Espinosa,...,0.0,0.0,0.0,0.0,0.0,1,0.0,0.25,0.25,0.25
1,1,2,José,"Zúñiga, de",m,34.0,Joseph Ignacio Matheo,Velasco y Lara,Maria Antonia Euvalda,Campos,...,0.0,0.0,0.0,0.0,0.0,1,0.0,0.25,0.25,0.25
2,1,3,José,"Zúñiga, de",m,34.0,Maria Estefana Valvanera,Villa,Maria Paula,Martines,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.00,0.00,0.00
3,1,4,José,"Zúñiga, de",m,34.0,Maria Antonia,Quixada,Ju[a]na Maria,Armenta,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.00,0.00,0.00
4,1,5,José,"Zúñiga, de",m,34.0,Juan Pedro Jacinto,Ruiz,Maria Isabel,Armenta,...,0.0,0.0,0.0,0.0,0.0,1,0.0,0.25,0.25,0.25

In [58]:
direct_matches = filter_records_by_score(matches_1790, 'Father_Total_Match_Score', .67)

In [59]:
direct_matches

,ecpp_id,#ID,Census_First,Census_Last,Census_Gender,Census_Age,Baptisms_SpanishName,Baptisms_Surname,Baptisms_MSpanishName,Baptisms_MSurname,...,Last_Name_Match_Score,Mother_First_Name_Match_Score,Mother_Last_Name_Match_Score,Father_First_Name_Match_Score,Father_Last_Name_Match_Score,Gender_Match_Score,Age_Match_Score,Direct_Total_Match_Score,Mother_Total_Match_Score,Father_Total_Match_Score
977888,10,41124,Francisco Xavier,Yorba,m,13.0,Jose Maria Praxedes Alta Grazia,Yorba,Begnigna,Lopez,...,0.221242,0.000000,0.181269,0.000000,0.632121,1,1.0,0.527435,0.513444,0.671242
14997468,145,9229,Baltazar Juan José,Rosas,m,0.0,Gil Antonio,Rosas,Maria Manuela,Hernandez,...,0.221242,0.000000,0.000000,0.000000,0.632121,1,1.0,0.527435,0.450000,0.671242
15028489,145,40250,Baltazar Juan José,Rosas,m,0.0,Anastasio Maria,Rosas,Maria Engracia,Albarado,...,0.221242,0.000000,0.000000,0.000000,0.632121,1,1.0,0.527435,0.450000,0.671242
15227558,147,31149,Seferina,Rosas,f,3.0,Maria Leonarda,Rosas,Maria Dolores,NaN,...,0.221242,0.000000,0.000000,0.000000,0.632121,1,1.0,0.527435,0.450000,0.671242
17385890,168,3696,Feliciano,Ríos,m,22.0,Juan Maria,Rios,Maria Andrea,NaN,...,0.221242,0.000000,0.000000,0.000000,0.632121,1,1.0,0.527435,0.450000,0.671242
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93470030,899,1701,María,García,f,18.0,Maria Antonia Cipriana,Garcia,Teresa,Arellanes,...,0.221242,0.181269,0.000000,0.000000,0.632121,1,1.0,0.527435,0.486254,0.671242
93497650,899,29321,María,García,f,18.0,Maria del Refugio,Garcia,Ysabel,NaN,...,0.221242,0.000000,0.000000,0.000000,0.632121,1,1.0,0.527435,0.450000,0.671242
96780858,930,85894,María Francisca,Soto,f,18.0,Jacinta de los Doroles (Jacinta de los Dolores),Soto,Teresa,Narvaez,...,0.221242,0.000000,0.000000,0.000000,0.632121,1,1.0,0.527435,0.450000,0.671242
98028975,942,84991,María Victoria,Higuera,f,15.0,Maria Vicenta Agustina,[Higuera],Maria Ramona,Garcia,...,0.157916,0.000000,0.000000,0.000000,0.632121,1,1.0,0.505271,0.450000,0.671242
98687506,949,14927,José,Ortiz,m,23.0,Jose,Loranz,Susana,Bonchimen,...,0.115388,0.000000,0.000000,0.550671,0.329680,1,1.0,0.515671,0.450000,0.675522