# Create People Collect 2

In [1]:
import pandas as pd

In [2]:
pc = pd.read_csv('people_collect/people_collect_2.csv')
direct_1790_matched = pd.read_csv('matches/direct_matches.csv')
baptisms = pd.read_csv('data/Baptisms.csv')
census_1790 = pd.read_csv('data/1790 Census Data Complete.csv')
census_1790['ecpp_id'] = range(1, len(census_1790) + 1)

In [3]:
census_1790.columns

Index(['Current_Location', 'First', 'First_Normalized', 'Last',
       'Last_Normalized', 'Race', 'Rank', 'Gender', 'Origin', 'Age',
       'Spouse_First', 'Spouse_Last', 'Father_First', 'Father_Last',
       'Mother_First', 'Mother_Last', 'Child1', 'Child2', 'Child3', 'Child4',
       'Child5', 'Child6', 'Child7', 'Child8', 'Child9', 'Child10', 'Child11',
       'Child12', 'Child13', 'Child14', 'Origin Parish', 'Race in Other',
       'Location Other Race', 'Notes/URL', 'ecpp_id'],
      dtype='object')

In [4]:
direct_1790_matched.columns

Index(['ecpp_id', '#ID', 'Census First Name', 'Baptisms First Name',
       'Census Last Name', 'Baptisms Last Name', 'Is Direct Match'],
      dtype='object')

In [5]:
baptisms.columns

Index(['#ID', 'DMission', 'MMission', 'FMission', 'Mission', 'DeathLinkBasis',
       'BurialDate', 'DeathNumber', 'SCOfficiant', 'Recorder', 'Officiant',
       'MNumber', 'MReligiousStatus', 'MEthnicity', 'MOrigin', 'MSurname',
       'MNativeName', 'MSpanishName', 'FMilitaryStatus', 'FReligiousStatus',
       'FEthnicity', 'FOrigin', 'FSurname', 'FNativeName', 'FSpanishName',
       'FNumber', 'BirthDate', 'DerivedOrigin', 'ReligiousStatus', 'Ethnicity',
       'Origin', 'Surname', 'NativeName', 'SpanishName', 'Age', 'Place',
       'TypePhrase', 'SupliCeremoniaDate', 'Number', 'Date', 'FmtdDate',
       'Type', 'MaritalStatus', 'Sex', 'Leg', 'Unit', 'Level', 'Notes'],
      dtype='object')

In [11]:
pc

Empty DataFrame
Columns: [pid, last_name, first_name, race_aggregated, race_1790, race_sj1778, race_la1781, race_la1785, race_la1821, ethnicity, baptismal_date, location_ecpp_baptism, location_1790_census, father_last_name, father_first_name, father_military_status, father_origin, mother_last_name, mother_first_name, mother_origin, sex, origin_parish_1790_census, location_other_race, notes_url_1790_census]
Index: []

[0 rows x 24 columns]

## Insert Matched

In [7]:
matched_rows = pd.merge(direct_1790_matched, baptisms, on='#ID', how='inner')

In [9]:
matched_rows

,ecpp_id,#ID,Census First Name,Baptisms First Name,Census Last Name,Baptisms Last Name,Is Direct Match,DMission,MMission,FMission,...,Number,Date,FmtdDate,Type,MaritalStatus,Sex,Leg,Unit,Level,Notes
0,14,10949,José María,Joseph Maria,Verdugo,Verdugo,True,SG,NaN,NaN,...,3148.0,22 Aug 1800,08/22/1800,-,NaN,M,l,d,ni,NaN
1,15,1603,María,Martina,López,Lopez,True,NaN,BP,BP,...,1599.0,10 Mar 1844,03/10/1844,+,NaN,F,l,d,ni,NaN
2,15,11438,María,Martina,López,[Lopez],True,SG,NaN,NaN,...,3636.0,31 Jan 1804,01/31/1804,+,NaN,F,l,d,ni,NaN
3,15,11804,María,Maria,López,Lopez,True,BP,SG,SD,...,4002.0,11 Sep 1805,09/11/1805,+,NaN,F,l,NaN,rn,NaN
4,15,28491,María,Mariana,López,Gomez,True,NaN,SC,NaN,...,4042.0,19 Feb 1837,02/19/1837,+,NaN,F,l,NaN,ni,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,962,73563,José Miguel,Jose Manuel,Saez,Sayenz,True,NaN,SG,SC,...,5677.0,18 Apr 1810,04/18/1810,+,NaN,M,l,d,ni,NaN
130,975,1525,Juan,Juan,López,Jones,True,NaN,BP,BP,...,1500.0,11 Jul 1842,07/11/1842,+,NaN,M,l,d,p,NaN
131,975,25658,Juan,Juan,López,Lopez,True,SCL,NaN,NaN,...,1309.0,7 Oct 1787,10/07/1787,-,NaN,M,l,d,ni,NaN
132,995,95394,Ana María,Juana Maria,Bojórquez,Bojorquez,True,NaN,SCL,SCL,...,3056.0,[Unstated],NaN,-,NaN,F,l,NaN,ni,NaN
133,1001,75718,Juana María,Juana Maria,Soto,Soto,True,NaN,NaN,NaN,...,6248.0,27 Feb 1815,02/27/1815,-,NaN,F,l,d,ni,NaN

In [10]:
# access values that are matched between baptisms & 1790 census and insert into people_collect 2.0
for index, row in matched_rows.iterrows():
    print(row['#ID'])
    print(row['ecpp_id'])

10949
14
1603
15
11438
15
11804
15
28491
15
28491
441
379
88
87129
111
3046
139
1229
140
32743
166
3792
167
38109
177
102872
178
2703
181
1304
182
42315
189
15297
192
30048
192
9443
195
17428
198
25042
205
14597
235
16142
251
10797
256
2974
262
2851
263
2851
520
27674
264
29155
276
8662
278
9229
279
29261
282
28839
288
11952
294
9366
298
166
305
36960
322
141
324
46831
351
28385
361
16228
365
81780
392
34
405
56559
406
539
408
539
819
11822
429
56378
464
11763
465
235
474
68617
486
1204
493
103057
493
41148
503
41
510
640
514
32545
514
1810
516
83523
525
83754
526
283
539
210
544
2011
544
2122
544
167
545
10854
545
15132
545
15158
545
35616
545
250
546
17412
547
139
548
101
549
1036
549
2947
549
12293
549
266
550
1308
551
1613
552
92450
590
42569
592
6
593
6
730
44913
593
44913
730
42788
594
2368
596
3379
612
14464
616
14464
634
14718
616
14718
634
15816
616
15816
634
16433
616
16433
634
40827
616
40827
634
1349
647
2119
647
2728
647
34161
647
26302
657
26950
679
87293
713
35769
727
16673
779
28806
779
61501
779
35951
833
73171
850
1087
862
80687
863
16023
870
15839
879
67683
895
90291
895
83755
898
86029
898
105678
924
9322
942
125
943
87290
943
447
949
37
953
85888
953
868
956
94985
957
73563
962
1525
975
25658
975
95394
995
75718
1001