# Person Matching Analysis

## Imports

In [1]:
import pandas as pd
from person_matching_functions import *
from person_matcher import PersonMatcher

In [2]:
ecpp = pd.read_csv('data/padron_267.csv')
ecpp.dropna(how='all', inplace=True)

In [3]:
ecpp['ecpp_id'] = range(1, len(ecpp) + 1)

In [4]:
ecpp.columns

Index(['Ego_First Name', 'Ego_Paternal Last Name', 'Ego_ Maternal Last Name',
       'Race', 'Sex', 'Age ', 'Father_First Name ',
       'Father_Paternal Last Name', 'Mother_First Name',
       'Mother_Paternal Last Name', 'Husband_First Name ',
       'Huband_Paternal Last name', 'Wife_First Name', 'Wife_Last name',
       'Status', 'ecpp_id'],
      dtype='object')

In [5]:
ecpp['Ego_Last Name'] = ecpp['Ego_Paternal Last Name'] + ' ' + ecpp['Ego_ Maternal Last Name']

In [6]:
ecpp

,Ego_First Name,Ego_Paternal Last Name,Ego_ Maternal Last Name,Race,Sex,Age,Father_First Name,Father_Paternal Last Name,Mother_First Name,Mother_Paternal Last Name,Husband_First Name,Huband_Paternal Last name,Wife_First Name,Wife_Last name,Status,ecpp_id,Ego_Last Name
0,Valerio,"Mesa, de",NaN,Español,M,49.0,NaN,NaN,NaN,NaN,NaN,NaN,Maria,Borboa,NaN,1,NaN
1,Maria,Borboa,NaN,Española,F,30.0,NaN,NaN,NaN,NaN,Valerio,"Mesa, de",NaN,NaN,NaN,2,NaN
2,Joseph Joachin,"Mesa, de",Borboa,Español,M,15.0,Valerio,"Mesa, de",Maria,Borboa,NaN,NaN,NaN,NaN,NaN,3,"Mesa, de Borboa"
3,Joseph Ygnacio,"Mesa, de",Borboa,Español,M,13.0,Valerio,"Mesa, de",Maria,Borboa,NaN,NaN,NaN,NaN,NaN,4,"Mesa, de Borboa"
4,Ygnacio Dolores,"Mesa, de",Borboa,Español,M,8.0,Valerio,"Mesa, de",Maria,Borboa,NaN,NaN,NaN,NaN,NaN,5,"Mesa, de Borboa"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,Maria Gregoria,Gonzales,Ruiz,Indio Apache,F,11.0,Manuel,Gonzales,Michaela,Ruiz,NaN,NaN,NaN,NaN,NaN,61,Gonzales Ruiz
61,Ana Maria,Gonzales,Ruiz,Indio Apache,F,3.0,Manuel,Gonzales,Michaela,Ruiz,NaN,NaN,NaN,NaN,NaN,62,Gonzales Ruiz
62,Juan Manuel,Villela,NaN,Español,M,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Soltero,63,NaN
63,Joseph Francisco,Sinoba,NaN,NaN,M,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sirviente Baquero,64,NaN
64,Maria Gertrudis,Bojorques,NaN,Mestiza,F,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65,NaN

In [7]:
baptisms = pd.read_csv('data/Baptisms.csv')

In [8]:
baptisms = baptisms.dropna(subset=['Surname', 'MSurname','FSurname'])

## Data Cleaning

In [9]:
# # This is for Direct Person Matching
# baptisms_young = baptisms.copy()
# baptisms_young.Age = baptisms.Age.apply(convert_age)
# print(baptisms_young.shape)
# baptisms_young = baptisms_young[baptisms_young.Age <= 21]
# print(baptisms_young.shape)

In [10]:
# This is for Parent Person
baptisms_all = baptisms.copy()
baptisms_all.Age = baptisms.Age.apply(convert_age)
baptisms_all.shape

(10864, 48)

## Feature Information

In [11]:
print(ecpp.shape)
# print(baptisms_young.columns)

(65, 17)

## Ensemble Matching

### Baptism Matching - Age < 21 for Direct name match

In [12]:
# young_matcher = DirectPersonMatcher(ecpp, baptisms_young)

In [13]:
# young_matcher.create_matched_records()

In [14]:
# young_matcher.direct_name_matcher()

In [15]:
# young_matcher.matched_records

In [16]:
# young_matcher.match_names()

In [17]:
# young_matcher.match_other_features()

In [18]:
# matcher.save_to_pickle('matches/matched_records.pkl')

In [19]:
# young_matcher.matched_records

### Baptism Matching - All (Matching Parents included)

In [13]:
all_matcher = PersonMatcher(ecpp, baptisms_all)

In [14]:
all_matcher.create_matched_records()

In [15]:
all_matcher.matched_records

        ecpp_id     #ID
0             1       2
1             1       3
2             1       4
3             1       5
4             1       6
...         ...     ...
706155       65  105684
706156       65  105685
706157       65  105686
706158       65  105688
706159       65  105695

[706160 rows x 2 columns]

In [16]:
all_matcher.direct_name_matcher()

In [17]:
all_matcher.direct_match_names()

In [18]:
all_matcher.matched_records

,ecpp_id,#ID,Census First Name,Baptisms First Name,First Name Match Classifier,Census Last Name,Baptisms Last Name,Last Name Match Classifier
0,1,2,Valerio,Joseph Ignacio Matheo,18,,Velasco y Lara,14
1,1,3,Valerio,Maria Estefana Valvanera,20,,Villa,5
2,1,4,Valerio,Maria Antonia,11,,Quixada,7
3,1,5,Valerio,Juan Pedro Jacinto,12,,Ruiz,4
4,1,6,Valerio,Joseph Maria,9,,Rodrigues,9
...,...,...,...,...,...,...,...,...
706155,65,105684,Maria Gertrudis,Maria Luisa,7,,Ord,3
706156,65,105685,Maria Gertrudis,Aniceto,11,,Gutierrez,9
706157,65,105686,Maria Gertrudis,Eliza Ana de Artellano,16,,McKee,5
706158,65,105688,Maria Gertrudis,Guadalupe del Refujio Agustina,23,,Pomber [Plummer],16
706159,65,105695,Maria Gertrudis,Maria Santa,8,,Soto,4

In [19]:
all_matcher.match_parents()

In [20]:
all_matcher.match_parents_names()

In [ ]:
all_matcher.match_other_features()

In [ ]:
all_matcher.save_to_pickle('pickles/matched_records_padron_267.pkl')