# Person Matching Analysis

## Imports

In [1]:
import pandas as pd
from person_matching_functions import *
from person_matcher import PersonMatcher

In [2]:
ecpp = pd.read_csv('data/1790 Census Data Complete.csv')
ecpp['ecpp_id'] = range(1, len(ecpp) + 1)

In [3]:
baptisms = pd.read_csv('data/Baptisms.csv')

In [4]:
baptisms.shape

(104338, 48)

## Data Cleaning

In [5]:
# Dropping values that are missing most important weights
baptisms = baptisms.dropna(subset=['Surname', 'MSurname','FSurname'])

In [6]:
# # This is for Direct Person Matching
# baptisms_young = baptisms.copy()
# baptisms_young.Age = baptisms.Age.apply(convert_age)
# print(baptisms_young.shape)
# baptisms_young = baptisms_young[baptisms_young.Age <= 21]
# print(baptisms_young.shape)

In [7]:
# This is for Parent Person
baptisms_all = baptisms.copy()
baptisms_all.Age = baptisms.Age.apply(convert_age)
baptisms_all.columns

Index(['#ID', 'DMission', 'MMission', 'FMission', 'Mission', 'DeathLinkBasis',
       'BurialDate', 'DeathNumber', 'SCOfficiant', 'Recorder', 'Officiant',
       'MNumber', 'MReligiousStatus', 'MEthnicity', 'MOrigin', 'MSurname',
       'MNativeName', 'MSpanishName', 'FMilitaryStatus', 'FReligiousStatus',
       'FEthnicity', 'FOrigin', 'FSurname', 'FNativeName', 'FSpanishName',
       'FNumber', 'BirthDate', 'DerivedOrigin', 'ReligiousStatus', 'Ethnicity',
       'Origin', 'Surname', 'NativeName', 'SpanishName', 'Age', 'Place',
       'TypePhrase', 'SupliCeremoniaDate', 'Number', 'Date', 'FmtdDate',
       'Type', 'MaritalStatus', 'Sex', 'Leg', 'Unit', 'Level', 'Notes'],
      dtype='object')

## Feature Information

In [8]:
print(ecpp.columns)
# print(baptisms_young.columns)

Index(['Current_Location', 'First', 'First_Normalized', 'Last',
       'Last_Normalized', 'Race', 'Rank', 'Gender', 'Origin', 'Age',
       'Spouse_First', 'Spouse_Last', 'Father_First', 'Father_Last',
       'Mother_First', 'Mother_Last', 'Child1', 'Child2', 'Child3', 'Child4',
       'Child5', 'Child6', 'Child7', 'Child8', 'Child9', 'Child10', 'Child11',
       'Child12', 'Child13', 'Child14', 'Origin Parish', 'Race in Other',
       'Location Other Race', 'Notes/URL', 'ecpp_id'],
      dtype='object')

## Ensemble Matching

### Baptism Matching - Age < 21 for Direct name match

In [9]:
# young_matcher = DirectPersonMatcher(ecpp, baptisms_young)

In [10]:
# young_matcher.create_matched_records()

In [11]:
# young_matcher.direct_name_matcher()

In [12]:
# young_matcher.matched_records

In [13]:
# young_matcher.match_names()

In [14]:
# young_matcher.match_other_features()

In [15]:
# matcher.save_to_pickle('matches/matched_records.pkl')

In [16]:
# young_matcher.matched_records

### Baptism Matching - All (Matching Parents included)

In [17]:
# all_matcher = DirectPersonMatcher(ecpp, baptisms_all)

In [18]:
# all_matcher.create_matched_records()

In [19]:
# all_matcher.direct_name_matcher()

In [20]:
# all_matcher.match_names()

In [21]:
# all_matcher.match_other_features()

In [22]:
# all_matcher.save_to_pickle('matches/matched_records_all.pkl')

In [23]:
# all_matcher.matched_records

In [24]:
# all_matcher.matched_records

In [25]:
all_matcher = PersonMatcher(ecpp, baptisms_all)

In [26]:
# all_matcher.read_pickle('matches/matched_records_young_baptisms.pkl')

In [27]:
all_matcher.matched_records.head()

Empty DataFrame
Columns: [ecpp_id, #ID]
Index: []

In [28]:
# all_matcher.match_parents()

In [29]:
# all_matcher.matched_records.drop(columns=['Mother Census First Name', 'Mother First Name Match Classifier', 'Mother Census Last Name', 'Mother Last Name Match Classifier', 'Father Census First Name', 'Father First Name Match Classifier','Father Census Last Name', 'Father Last Name Match Classifier'], inplace=True)

In [30]:
# all_matcher.save_to_pickle('matches/matched_records_young_baptisms.pkl')

In [31]:
# all_matcher.matched_records

Empty DataFrame
Columns: [ecpp_id, #ID]
Index: []

In [32]:
# all_matcher.create_matched_records()

In [33]:
# all_matcher.direct_name_matcher()

In [34]:
# all_matcher.match_parents()

In [35]:
# all_matcher.direct_match_names()

In [36]:
# all_matcher.match_other_features()

In [37]:
# all_matcher.match_parents_names()

In [38]:
# all_matcher.save_to_pickle('matches/matched_records_baptisms_all.pkl')

In [40]:
# all_matcher.matched_records.columns

Index(['ecpp_id', '#ID', 'Census First Name', 'Baptisms First Name',
       'First Name Match Classifier', 'Census Last Name', 'Baptisms Last Name',
       'Last Name Match Classifier', 'Mother Baptisms First Name',
       'Mother First Name Match Classifier', 'Mother Baptisms Last Name',
       'Mother Last Name Match Classifier', 'Father Baptisms First Name',
       'Father First Name Match Classifier', 'Father Baptisms Last Name',
       'Father Last Name Match Classifier', 'Census Gender', 'Baptisms Gender',
       'Gender Match Classifier', 'Census Age', 'Baptisms Age',
       'Age Match Range'],
      dtype='object')

In [ ]:
## Data Science stuff to analyse data