# Analyze Matches

In [1]:
import pandas as pd
from person_matching_functions import *

## Filter 1790 Census & Baptisms Matches

In [2]:
matches = pd.read_pickle('matches/1821_census_matches.pkl')

In [3]:
matches.head()

,ecpp_id,#ID,Census_Ego_First Name,Census_Ego_Last Name,Census_Sex,Baptisms_SpanishName,Baptisms_Surname,Baptisms_MSpanishName,Baptisms_MSurname,Baptisms_FSpanishName,...,First_Name_Match_Score,Last_Name_Match_Score,Mother_First_Name_Match_Score,Mother_Last_Name_Match_Score,Father_First_Name_Match_Score,Father_Last_Name_Match_Score,Gender_Match_Score,Direct_Total_Match_Score,Mother_Total_Match_Score,Father_Total_Match_Score
0,1,1,Anastacio,Carrillo Lugo,M,Juan Joseph,Salazar,Maria del Loreto,Espinosa,José Loreto Salazar,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0.1,0.1,0.1
1,1,2,Anastacio,Carrillo Lugo,M,Joseph Ignacio Matheo,Velasco y Lara,Maria Antonia Euvalda,Campos,Joseph Fernando,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0.1,0.1,0.1
2,1,3,Anastacio,Carrillo Lugo,M,Maria Estefana Valvanera,Villa,Maria Paula,Martines,Juan Joseph,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
3,1,4,Anastacio,Carrillo Lugo,M,Maria Antonia,Quixada,Ju[a]na Maria,Armenta,Vicente,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
4,1,5,Anastacio,Carrillo Lugo,M,Juan Pedro Jacinto,Ruiz,Maria Isabel,Armenta,Fructuoso Maria,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0.1,0.1,0.1

In [4]:
matches.columns

Index(['ecpp_id', '#ID', 'Census_Ego_First Name', 'Census_Ego_Last Name',
       'Census_Sex', 'Baptisms_SpanishName', 'Baptisms_Surname',
       'Baptisms_MSpanishName', 'Baptisms_MSurname', 'Baptisms_FSpanishName',
       'Baptisms_FSurname', 'Baptisms_Sex', 'First_Name_Match_Score',
       'Last_Name_Match_Score', 'Mother_First_Name_Match_Score',
       'Mother_Last_Name_Match_Score', 'Father_First_Name_Match_Score',
       'Father_Last_Name_Match_Score', 'Gender_Match_Score',
       'Direct_Total_Match_Score', 'Mother_Total_Match_Score',
       'Father_Total_Match_Score'],
      dtype='object')

In [5]:
direct_matches = filter_records_by_score(matches, 'Direct_Total_Match_Score', .4)
direct_matches = direct_matches.drop(columns=['Baptisms_MSpanishName', 'Baptisms_MSurname', 'Mother_Total_Match_Score', 'Father_Total_Match_Score', 'Baptisms_FSpanishName', 'Baptisms_FSurname'])

In [6]:
direct_matches

,ecpp_id,#ID,Census_Ego_First Name,Census_Ego_Last Name,Census_Sex,Baptisms_SpanishName,Baptisms_Surname,Baptisms_Sex,First_Name_Match_Score,Last_Name_Match_Score,Mother_First_Name_Match_Score,Mother_Last_Name_Match_Score,Father_First_Name_Match_Score,Father_Last_Name_Match_Score,Gender_Match_Score,Direct_Total_Match_Score
104620,2,536,Maria Concepción,García,F,Maria Concepcion,Ruiz,F,0.632121,0.181269,0.000000,0.000000,0.000000,0.181269,1,0.466025
107462,2,3378,Maria Concepción,García,F,Maria Concepcion,Jurado,F,0.632121,0.181269,0.000000,0.000000,0.000000,0.181269,1,0.466025
120838,2,16754,Maria Concepción,García,F,Maria Concepcion,Carriaga,F,0.632121,0.181269,0.000000,0.632121,0.000000,0.181269,1,0.466025
132573,2,28489,Maria Concepción,García,F,Maria Consepcion,Valla,F,0.632121,0.181269,0.000000,0.000000,0.000000,0.181269,1,0.466025
181515,2,77431,Maria Concepción,García,F,Maria Presentacion,Garcia,F,0.133122,0.632121,0.000000,0.000000,0.000000,0.632121,1,0.444359
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29174151,281,30352,Maria Anastacia Michaela,Zuniga,F,Maria Anasthasia Michaela,Zuñiga,F,0.533224,0.632121,0.000000,0.000000,0.000000,0.632121,1,0.624405
29979826,289,3347,Maria Antonia,Cota Nieto,F,Maria Antonia,Nieto,F,0.632121,0.071397,0.000000,0.000000,0.000000,0.071397,1,0.416583
30498116,294,1212,Jose Maria,Cota Nieto,M,Jose Maria,Cañedo,M,0.632121,0.071397,0.031743,0.000000,0.632121,0.071397,1,0.416583
32475339,313,820,Francisco Xavier,Alvarado,M,Francisco Xavier,Navarro,M,0.573840,0.181269,0.000000,0.000000,0.000000,0.181269,1,0.439799
32486282,313,11763,Francisco Xavier,Alvarado,M,Francisco Xavier,Alvarado,M,0.573840,0.632121,0.000000,0.000000,0.000000,0.632121,1,0.642682

In [7]:
direct_matches.to_csv('csv_matches/1821_direct_matches', index=False)

In [8]:
mother_matches = filter_records_by_score(matches, 'Mother_Total_Match_Score', .4)

In [9]:
mother_matches = mother_matches.drop(columns=['Baptisms_SpanishName', 'Baptisms_Surname', 'Direct_Total_Match_Score', 'Father_Total_Match_Score', 'Baptisms_FSpanishName', 'Baptisms_FSurname'])

In [10]:
mother_matches

,ecpp_id,#ID,Census_Ego_First Name,Census_Ego_Last Name,Census_Sex,Baptisms_MSpanishName,Baptisms_MSurname,Baptisms_Sex,First_Name_Match_Score,Last_Name_Match_Score,Mother_First_Name_Match_Score,Mother_Last_Name_Match_Score,Father_First_Name_Match_Score,Father_Last_Name_Match_Score,Gender_Match_Score,Mother_Total_Match_Score
104453,2,369,Maria Concepción,García,F,Maria Concepcion,Garcia,M,0.0,0.0,0.632121,0.632121,0.0,0.0,0,0.568909
104533,2,449,Maria Concepción,García,F,Maria Concepcion,Garcia,F,0.0,0.0,0.632121,0.632121,0.0,0.0,1,0.668909
104577,2,493,Maria Concepción,García,F,Maria Concepcion,Garcia,F,0.0,0.0,0.632121,0.632121,0.0,0.0,1,0.668909
104856,2,772,Maria Concepción,García,F,Maria Concepcion,Garcia,M,0.0,0.0,0.632121,0.632121,0.0,0.0,0,0.568909
118919,2,14835,Maria Concepción,García,F,Maria Concepcion,Garcia,M,0.0,0.0,0.632121,0.632121,0.0,0.0,0,0.568909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29978981,289,2502,Maria Antonia,Cota Nieto,F,Maria Antonia,Cañedo,F,0.0,0.0,0.632121,0.071397,0.0,0.0,1,0.416583
29990526,289,14047,Maria Antonia,Cota Nieto,F,Maria Antonia,Cañedo,F,0.0,0.0,0.632121,0.071397,0.0,0.0,1,0.416583
29991078,289,14599,Maria Antonia,Cota Nieto,F,Maria Antonia,Cañedo,F,0.0,0.0,0.632121,0.071397,0.0,0.0,1,0.416583
30017743,289,41264,Maria Antonia,Cota Nieto,F,Maria Antonia,Cañedo,F,0.0,0.0,0.632121,0.071397,0.0,0.0,1,0.416583
35102241,338,25597,Maria Luisa del Carmen,Reyes Dominguez,F,Maria Luisa del Carmen,Dominguez,F,0.0,0.0,0.632121,0.060587,0.0,0.0,1,0.411718

In [11]:
mother_matches.to_csv('csv_matches/1821_mother_matches', index=False)

In [12]:
father_matches = filter_records_by_score(matches, 'Father_Total_Match_Score', .4)

In [13]:
father_matches = father_matches.drop(columns=['Baptisms_SpanishName', 'Baptisms_Surname', 'Direct_Total_Match_Score', 'Mother_Total_Match_Score', 'Baptisms_MSpanishName', 'Baptisms_MSurname'])

In [14]:
father_matches

,ecpp_id,#ID,Census_Ego_First Name,Census_Ego_Last Name,Census_Sex,Baptisms_FSpanishName,Baptisms_FSurname,Baptisms_Sex,First_Name_Match_Score,Last_Name_Match_Score,Mother_First_Name_Match_Score,Mother_Last_Name_Match_Score,Father_First_Name_Match_Score,Father_Last_Name_Match_Score,Gender_Match_Score,Father_Total_Match_Score
833095,9,416,Mateo,Rubio,M,Martin,Ruiz,M,0.0,0.451188,0.0,0.0,0.329680,0.451188,1,0.451391
833742,9,1063,Mateo,Rubio,M,Martin,Ruiz,M,0.0,0.451188,0.0,0.0,0.329680,0.451188,1,0.451391
834925,9,2246,Mateo,Rubio,M,Martin,Ruiz,M,0.0,0.451188,0.0,0.0,0.329680,0.451188,1,0.451391
835099,9,2420,Mateo,Rubio,M,Martin,Ruiz,M,0.0,0.451188,0.0,0.0,0.329680,0.451188,1,0.451391
835670,9,2991,Mateo,Rubio,M,Martin,Ruiz,M,0.0,0.451188,0.0,0.0,0.329680,0.451188,1,0.451391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32493238,313,18719,Francisco Xavier,Alvarado,M,Francisco Xavier,Albiso,M,0.0,0.181269,0.0,0.0,0.573840,0.181269,1,0.439799
32510291,313,35772,Francisco Xavier,Alvarado,M,Francisco Maria,Albarado,M,0.0,0.467211,0.0,0.0,0.232568,0.632121,1,0.489110
32510621,313,36102,Francisco Xavier,Alvarado,M,Francisco Maria,Albarado,M,0.0,0.467211,0.0,0.0,0.232568,0.632121,1,0.489110
32510731,313,36212,Francisco Xavier,Alvarado,M,Francisco Maria,Albarado,M,0.0,0.467211,0.0,0.0,0.232568,0.632121,1,0.489110
32524339,313,49820,Francisco Xavier,Alvarado,M,Francisco Xaxier,Alviso,M,0.0,0.181269,0.0,0.0,0.506327,0.181269,1,0.409418

In [67]:
father_matches.to_csv('csv_matches/1821_father_matches', index=False)