# Person Matching Analysis

## Imports

In [1]:
import pandas as pd
from person_matching_functions import *
from person_matcher import PersonMatcher

In [2]:
census = pd.read_csv('data/padron_1781.csv')
baptisms = pd.read_csv('data/Baptisms.csv')

In [3]:
census.dropna(how='all', inplace=True)
baptisms.dropna(how='all', inplace=True)

In [4]:
census['ecpp_id'] = range(1, len(census) + 1)
baptisms['#ID'] = range(1, len(baptisms) + 1)

In [5]:
census = pd.read_csv('data/padron_1781.csv')
census.dropna(how='all', inplace=True)

In [6]:
census['ecpp_id'] = range(1, len(census) + 1)

In [7]:
census.columns

Index(['Ego_First Name', 'Ego_Paternal Last Name', 'Ego_ Maternal Last Name',
       'Race', 'Sex', 'Age', 'Father_First Name', 'Father_Paternal Last Name',
       'Mother_First Name', 'Mother_Paternal Last Name', 'Husband_First Name',
       'Huband_Paternal Last name', 'Wife_First Name',
       'Wife_ Paternal Last Name', 'Status', 'ecpp_id'],
      dtype='object')

In [8]:
census['Ego_Last Name'] = census['Ego_Paternal Last Name'] + ' ' + census['Ego_ Maternal Last Name']

In [9]:
baptisms = pd.read_csv('data/Baptisms.csv')
baptisms['#ID'] = range(1, len(baptisms) + 1)

In [10]:
baptisms.columns

Index(['#ID', 'DMission', 'MMission', 'FMission', 'Mission', 'DeathLinkBasis',
       'BurialDate', 'DeathNumber', 'SCOfficiant', 'Recorder', 'Officiant',
       'MNumber', 'MReligiousStatus', 'MEthnicity', 'MOrigin', 'MSurname',
       'MNativeName', 'MSpanishName', 'FMilitaryStatus', 'FReligiousStatus',
       'FEthnicity', 'FOrigin', 'FSurname', 'FNativeName', 'FSpanishName',
       'FNumber', 'BirthDate', 'DerivedOrigin', 'ReligiousStatus', 'Ethnicity',
       'Origin', 'Surname', 'NativeName', 'SpanishName', 'Age', 'Place',
       'TypePhrase', 'SupliCeremoniaDate', 'Number', 'Date', 'FmtdDate',
       'Type', 'MaritalStatus', 'Sex', 'Leg', 'Unit', 'Level', 'Notes'],
      dtype='object')

In [8]:
# # remove this
# baptisms = baptisms.dropna(subset=['Surname', 'MSurname','FSurname'])

## Data Cleaning

In [9]:
# # This is for Direct Person Matching
# baptisms_young = baptisms.copy()
# baptisms_young.Age = baptisms.Age.apply(convert_age)
# print(baptisms_young.shape)
# baptisms_young = baptisms_young[baptisms_young.Age <= 21]
# print(baptisms_young.shape)

In [10]:
# This is for Parent Person
baptisms_all = baptisms.copy()
baptisms_all.Age = baptisms.Age.apply(convert_age)
baptisms_all.shape

(104338, 48)

## Feature Information

In [11]:
print(ecpp.shape)
# print(baptisms_young.columns)

(46, 17)

## Ensemble Matching

In [12]:
all_matcher = PersonMatcher(ecpp, baptisms_all)

In [13]:
all_matcher.create_matched_records()

In [14]:
all_matcher.matched_records

         ecpp_id     #ID
0              1       1
1              1       2
2              1       3
3              1       4
4              1       5
...          ...     ...
4799543       46  104334
4799544       46  104335
4799545       46  104336
4799546       46  104337
4799547       46  104338

[4799548 rows x 2 columns]

In [15]:
all_matcher.direct_name_matcher()

In [16]:
all_matcher.direct_match_names()

In [17]:
all_matcher.matched_records

,ecpp_id,#ID,Census First Name,Baptisms First Name,First Name Match Classifier,Census Last Name,Baptisms Last Name,Last Name Match Classifier
0,1,1,José,Juan Joseph,7,,Salazar,0
1,1,2,José,Joseph Ignacio Matheo,16,,Velasco y Lara,0
2,1,3,José,Maria Estefana Valvanera,21,,Villa,0
3,1,4,José,Maria Antonia,12,,Quixada,0
4,1,5,José,Juan Pedro Jacinto,15,,Ruiz,0
...,...,...,...,...,...,...,...,...
4799543,46,104334,Juana María,José Agustin,9,,Ruis,0
4799544,46,104335,Juana María,José Antonio,9,,Higuera,0
4799545,46,104336,Juana María,Maria Santa,7,,Soto,0
4799546,46,104337,Juana María,Felipe,11,,,0
4799547,46,104338,Juana María,Nicolas,10,,,0

In [18]:
all_matcher.match_parents()

In [19]:
all_matcher.match_parents_names()

In [ ]:
all_matcher.match_other_features()

In [ ]:
all_matcher.save_to_pickle('pickles/matched_records_padron_1781.pkl')